header{
    list-style-type: none;
    overflow: hidden;
    background-color: #3D9970 ;
    border-bottom: 2px solid rgb(54, 128, 94);

}

h2{
    color: white;
    font-family: Calibri, sans-serif;
    text-align: center; 
    font-size: 75px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #3D9970 ;
    text-align:center;
}

li {
    display: inline-block;
    width: 200px;
    color: #232931;
    padding:15px 0 15px;
    font-family: Calibri, sans-serif;
}

li a {
    display:inline-block;
    color: #616161;
    text-align: center;
    padding: 10px 20px;
    font-size: 22px;
	text-transform: uppercase;
	background-color: white;
    transition: .3s;
    border-radius:8px;
}

li a:hover {
    background-color: #000000;
    color:white;
}

.main{
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 18%;
    padding-right: 18%;
}
#wrapper {
    padding-top:50px;
    font-family: Calibri, sans-serif;
    display: flex;                  
    justify-content: space-around; 
    background-color: transparent;
  }
#wrapper > div {
    width: 300px;
    height: 400px;
    border-radius: 30px;
    background-color:transparent;
}


.tittle{
    background: transparent;
    text-align: center;
  }


#carImg{
    margin: 20px, 0, 20px, 0;
    width: 250px;
    height: 200px;
    border-radius: 15px;
    padding:5px;
}

#car{
    border: 2px solid #ddd;
}

footer{
    padding: 30px;
    color: black;
    background-image: linear-gradient(#ffffff, #3D9970 );
    font-size: 25px;
    font-style: inherit;
}

.redirectToForm {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .redirectToForm:hover {
    background-color: rgb(56, 126, 58);
  }

  #carGallery {
    width: 250px;
    height: 200px;
  }

  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  .form{
      padding-top: 0px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom:100px;
      justify-content: center;
      width:600px;
  }

  h5{
      margin-top:30px;
      margin-bottom:10px;
      font-size: 100px;
      color:black;
      padding-bottom: 0px;
  }

  .reserveButton {
    background-color: #4CAF50;
    justify-content: center;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top:20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .reserveButton:hover {
    background-color: rgb(56, 126, 58);
  }

  label{
    font-size: 20px;
  }

  .setDate{
    margin-top:15px;
    display:flex;
  }
  
  .dsasda{
  }

